WebService/Connected Services/UserService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/user/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.Entity.WiEntity" />
  <xs:import schemaLocation="http://localhost:8081/user/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Entity.WiEntity" minOccurs="0" name="dto" nillable="true" type="q1:AspNetUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="AddResult" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Domain.Entity.WiEntity" minOccurs="0" name="dto" nillable="true" type="q4:AspNetUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editForAdm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q5:guid" />
        <xs:element minOccurs="0" name="fullname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editForAdmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Exists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Domain.Entity.WiEntity" minOccurs="0" name="GetAllResult" nillable="true" type="q7:ArrayOfAspNetUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Domain.Entity.WiEntity" minOccurs="0" name="GetByIdResult" nillable="true" type="q9:AspNetUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Domain.Entity.WiEntity" minOccurs="0" name="GetUsersByRoleResult" nillable="true" type="q10:ArrayOfAspNetUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q11:guid" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmailUnique">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmailUniqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsEmailUniqueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Domain.Entity.WiEntity" minOccurs="0" name="GetByNameResult" nillable="true" type="q12:AspNetUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByProviderAndKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginProvider" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="providerKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByProviderAndKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Domain.Entity.WiEntity" minOccurs="0" name="GetByProviderAndKeyResult" nillable="true" type="q13:AspNetUserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolebyName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolebyNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Domain.Entity.WiEntity" minOccurs="0" name="GetRolebyNameResult" nillable="true" type="q14:AspNetRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Domain.Entity.WiEntity" minOccurs="0" name="GetByEmailResult" nillable="true" type="q15:AspNetUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>